{% trans_default_domain domain() %}<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ ''|trans }}{% endblock %} {{ 'site.title_tail'|trans }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bower/startbootstrap-modern-business/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bower/startbootstrap-modern-business/css/modern-business.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('bower/startbootstrap-modern-business/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">   
    <link href="{{ asset('css/template.css') }}" rel="stylesheet">
    <link href="{{ asset('css/ems.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	
	
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ 'site.toggle_navigation'|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('page', {slug: 'home'}) }}"><i class="ems-icon-ball"></i> {{ 'site.name'|trans|raw }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if app.request.attributes.get('_route') starts with 'concept' %}active{% endif %}">
                    	{% include 'elements/page_link.html.twig' with {'page': 'concept'|page} %}
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'feature' %}active{% endif %}">
                        <a href="{{ path('page', {slug: 'features'}) }}">Features</a>
                    </li>
                    {% set docPage = 'doc'|page %}
                    <li class="dropdown {% if app.request.attributes.get('_route') starts with 'doc' %}active{% endif %}">
                        <a href="{{ path('page', {slug: docPage.slug}) }}" class="dropdown-toggle" data-toggle="dropdown">{{ attribute(docPage, 'short_title_'~app.request.locale ) }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('page', {slug: 'doc'}) }}">{{ 'documentation.menu.alias'|trans }}</a>
                            </li>
{#                             <li>#}
{#                                 <a href="#">{{ 'How-To guides'|trans }}</a>#}
{#                             </li>#}
                            <li>
                                {% include 'elements/page_link.html.twig' with {'page': 'templates'|page} %}
                            </li>
{#                             <li>#}
{#                                 <a href="#">{{ 'Twig\'s extensions'|trans }}</a>#}
{#                             </li>#}
{#                             <li>#}
{#                                 <a href="#">{{ 'Routes'|trans }}</a>#}
{#                             </li>#}
{# 		                    <li>#}
{# 				            	<form class="navbar-form" role="search">#}
{# 									<div class="input-group">#}
{# 										<input type="text" class="form-control" placeholder="Search">#}
{# 										<span class="input-group-btn">#}
{# 											<button type="submit" class="btn btn-default">#}
{# 												<span class="glyphicon glyphicon-search">#}
{# 													<span class="sr-only">Search</span>#}
{# 												</span>#}
{# 											</button>#}
{# 										</span>#}
{# 									</div>#}
{# 								</form>#}
{# 		                    </li>#}
                        </ul>
                    </li>
                    {% if locales|length > 2 %}
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language"></i> {{ ('site.locale.current.'~app.request.locale)|trans|raw }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                        		{% set found = false %}
                            	{% for locale in locales %}
                            		{% if app.request.locale != locale and (attribute(data, 'available_'~locale) is not defined or attribute(data, 'available_'~locale)) %}
                            		    {% set found = true %}
                                		<li>
                                			<a href="{{ url(app.request.attributes.get('_route'), app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({_locale: locale})) }}">
                                		       <abbr title="{{ ('site.locale.'~locale)|trans|raw }}">{{ ('site.locale.'~locale)|trans|raw }}</abbr>
                                		    </a>
                            		    </li>
                            		 {% endif %}
                            	{% endfor %}
                            	{% if not found %}
                            		<li>
                            			{{ 'site.page.only_available_in'|trans }}
                        		    </li>
                            	{% endif %}
                            </ul>
                        </li>
                	{% endif %}
                </ul>
            </div>            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
     </nav>

    <!-- Page Content -->
    <div class="container">
		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block container_title %}{{ 'site.welcome'|trans }}{% endblock %}
                    <small>{% block container_sub_title %}{{ 'this is not a cms'|trans }}{% endblock %}</small>
                </h1>
                {% block breadcrumb %}{% endblock %}
            </div>
        </div>
        
        <div class="row">
        {% block body %}{% endblock %}
        </div>

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>{{ 'site.copy'|trans({'%year%': "now"|date("Y")}) }}</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ asset('bower/startbootstrap-modern-business/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bower/startbootstrap-modern-business/js/bootstrap.min.js') }}"></script>


    <script src="{{ asset('bower/matchHeight/dist/jquery.matchHeight-min.js') }}"></script>
    
    <script src="{{ asset('scripts/template.js') }}"></script>
    
    
    {% block javascripts %}{% endblock %}

</body>

</html>
