{% extends 'base.html.twig' %} 


{% block container_title %}{{ 'Features'|trans }}{% endblock %}
{% block container_sub_title %}{{ 'all you can expect'|trans }}{% endblock %}

{% block body %}
	<!-- Content Row -->
	<div class="row">
		<!-- Sidebar Column -->
		<div class="col-md-3">
			<div class="list-group">
				{% for feature in features.hits.hits %}
					<a href="{{ path('features', {'slug': feature._source.slug}) }}" class="list-group-item {% if feature._id == data._id %}active{% endif %}">
						<i class="{{ feature._source.icon }}" aria-hidden="true" aria-labelledby="feature_{{ loop.index }}"></i> 
						<span id="feature_{{ loop.index }}">{{ attribute(feature._source, 'short_title_'~app.request.locale ) }}</span>
					</a>
				{% endfor %}
			</div>
		</div>
		<!-- Content Column -->
		<div class="col-md-9">
			<h2><i class="{{ data._source.icon }}" aria-hidden="true"></i> {{ attribute(data._source, 'title_'~app.request.locale ) }}</h2>
			{{ attribute(data._source, 'teaser_'~app.request.locale )|raw }}
			<hr>
			<div class="row">
				<div class="col-md-9">
					{% if attribute(data._source, 'body_'~app.request.locale ) is defined %}
						{{ attribute(data._source, 'body_'~app.request.locale )|raw }}
					{% else %}
						{{ 'Documentation in progress...' }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
{% endblock %}