{% trans_default_domain domain() %}{% extends 'base.html.twig' %} 


{% block container_title %}{{ attribute(data, 'title_'~app.request.locale ) }}{% endblock %}
{% block container_sub_title %}{{ 'Customize your interfaces with templates'|trans }}{% endblock %}
{% block breadcrumb %}
	{% include 'elements/breadcrumb.html.twig' with {'title': attribute(data, 'short_title_'~app.request.locale )} %}
{% endblock %}

{% block body %}
	<!-- Content Row -->
	<div class="row">
		<!-- Content Column -->
		<div class="col-md-9">
			<h2>{{ attribute(data, 'title_'~app.request.locale ) }}</h2>
			{{ attribute(data, 'teaser_'~app.request.locale )|raw }}
			<hr>
			<div class="row">
				<div class="col-md-9">
					{% if attribute(data, 'body_'~app.request.locale ) is defined %}
						{{ attribute(data, 'body_'~app.request.locale )|raw }}
					{% else %}
						{{ 'site.documentation_in_progress'|trans }}
					{% endif %}
				</div>
			</div>
		</div>
		<!-- Sidebar Column -->
		<div class="col-md-3">
    		{{ render(controller(
                'AppBundle:Doc:listTemplates', {'slug' : data.slug}
            )) }}
		</div>
	</div>
	<!-- /.row -->
{% endblock %}