
<div class="list-group">
	{% for feature in features.hits.hits %}
		<a href="{{ path('feature', {'slug': feature._source.slug}) }}" class="list-group-item {% if slug is defined and feature._source.slug == slug %}active{% endif %}">
			<i class="{{ feature._source.icon }}" aria-hidden="true" aria-labelledby="feature_{{ loop.index }}"></i> 
			<span id="feature_{{ loop.index }}">{{ attribute(feature._source, 'short_title_'~app.request.locale ) }}</span>
		</a>
	{% endfor %}
</div>