{% trans_default_domain domain() %}{% for feature in features['hits']['hits'] %}
	<div class="col-md-4">
		<div class="panel panel-default match-height">
			<div class="panel-heading">
				<h4>
					<i class="{{ feature._source.icon }}" aria-hidden="true" aria-labelledby="feature_{{ loop.index }}"></i> 
					<span id="feature_{{ loop.index }}">{{ attribute(feature._source, 'short_title_'~app.request.locale ) }}</span>
				</h4>
			</div>
			<div class="panel-body">
				{{ attribute(feature._source, 'teaser_'~app.request.locale )|raw }}
				<a href="{{ path('feature', {'slug': feature._source.slug}) }}" class="btn btn-default">{{ 'features.learn_more'|trans }}<span class="sr-only"> {{ 'features.about'|trans({'%subject%': attribute(feature._source, 'short_title_'~app.request.locale )}) }}</span></a>
			</div>
		</div>
	</div>
{% endfor %}