{% trans_default_domain domain() %}{% extends 'base.html.twig' %} 

{% block title %}{{ 'site.translation_missing.title'|trans }}{% endblock %}
{% block container_title %}{{ 'site.translation_missing.title'|trans  }}{% endblock %}
{% block container_sub_title %}{{ 'site.translation_missing.teaser'|trans }}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<ul>
			{% for locale in locales %}
                {% if app.request.locale != locale %}
    				<li>
        				<a href="{{ url(app.request.attributes.get('_route'), app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({_locale: locale})) }}">
        				    {{ 'site.locale.page_exists_in'|trans({ '%locale%': ('site.locale.current.'~locale)|trans }) }}
        				</a>
    				</li>
    			{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endblock %}