{% trans_default_domain prefix~app.request.get('_environment') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
    	<link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('bundles/emsbackendbridge/favicon.ico?v=1') }}">
    </head>
    <body>
   
        <!-- Navigation -->
        {{ render(controller(
            'App\\Controller\\DefaultController::menu',
            { 'depth': 2 }
        )) }}
        
        <!-- Page Content -->
        {% block body %}
        {% endblock %}
        
        <!-- Footer -->
        {{ include('elements/footer.html.twig') }}

    	<script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
